html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 1.6rem;
  padding: 0 2rem;
  background-color: #E8E8E8;
}

nav.topnav ul li:first-child {
  display: none;
}

@media only screen and (max-width: 720px) {
  .responsive-li {
    display: none;
  }
  nav.topnav ul li:first-child {
    display: inline-block;
    float: none;
  }
}


#topbar {
  padding: .1rem 0 0 0;
  color: #333A56;
  background-color: #F7F5E6;
  width: 100%;
}

#topbar h1 {
  font-size: 3.6rem;
}

h1 {
  font-size: 3.0rem;
}

.topnav {
  display: inline-block;
  background-color: #52658F;
  font-family: 'Open Sans', sans-serif;
  top: 0;
  width: 100%;
}

nav.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.topnav ul li {
  float: right;
  background-color: #52658F;
}

nav.topnav ul li a {
  color: #E8E8E8;
  display: block;
  padding: 1rem 1.4rem 1rem 1.4rem;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 2.0rem;
}



nav.topnav ul li a:hover {
  color: #fafafa;
  background-color: #52658F;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
}

.to-top {
  display: block;
  float: right;
  padding: .5rem;
  background-color: #52658F;
  color: #E8E8E8;
  text-decoration: none;
  font-size: 1.6rem;
}

.to-top:hover {
  color: #fafafa;
  background-color: #52658F;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
}

h1 {
  font-size: 3.0rem;
  display: block;
  padding: 0 2rem 0 2rem;
  font-family: 'Domine', serif;
}

.std-paragraph {
  padding: 1rem 4rem;
  display: block;
  font-size: 1.8rem;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

#about {
  padding: 1rem 4rem 1rem 4rem;
  color: #333A56;
  background-color: #F7F5E6;
  height: auto;
  overflow: auto;
}

#imageBox {
}

#imageBox img {
  padding: 4rem;
  float: right;
  height: 200px;
  width: auto;
}

#experience {
  padding: 1rem 4rem 1rem 4rem;
  color: #E8E8E8;
  background-color: #52658F;
  height: auto;
}

#projects {
  padding: 1rem 6rem;
  color: #333A56;
  background-color: #F7F5E6;
  height: auto;
}

.experience-list {
  list-style: none;
  padding: .8rem 6rem;
}

.experience-list li {
    font-size: 2.2rem;
    font-weight: 400;
    padding: .8rem;
}

.experience-list ul {
  list-style: square;
}

.experience-list ul li {
  font-size: 1.7rem;
  font-weight: 300;
  padding: .8rem;
}

#contact {
  padding: 1rem 4rem 1rem 4rem;
  color: #E8E8E8;
  background-color: #52658F;
  height: auto;
}

#contact span {
  padding: 1rem 0;
  display: block;
  font-size: 1.6rem;
}

#contact h3 {
  display: block;
  padding: 0 4rem 0 4rem;
}

#contact form {
  display: block;
  height: auto;
}

#mailInput {
  display: block;
  font-size: 1.6rem;
}

#message {
  display: block;
  width: 70%;
  height: 15rem;
  font-size: 1.6rem;
}

button {
  font-family: 'Open Sans', sans-serif;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1.4rem;
  background-color: #F7F5E6;
  color: #52658F;
}

button:hover {
  color: #52658F;
  background-color: #F7F5E6;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.3));
}
